# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [3]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
X = data.drop('MEDV', axis=1)
y = data.MEDV

In [5]:
from sklearn.model_selection import train_test_split as tts

In [6]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [7]:
from sklearn.linear_model import LinearRegression as LinReg

In [8]:
boston_model = LinReg()

In [9]:
boston_model.fit(X_train, y_train)

LinearRegression()

In [10]:
y_pred_test = boston_model.predict(X_test)

In [11]:
y_pred_train = boston_model.predict(X_train)

## 3. Calculate and print R-squared for both the training and the testing set.

In [12]:
from sklearn import metrics

In [13]:
R2_test = metrics.r2_score(y_test, y_pred_test)

In [14]:
R2_train = metrics.r2_score(y_train, y_pred_train)

In [15]:
R2_test

0.7018572579881097

In [17]:
R2_train

0.74538204457632

## 4. Calculate and print mean squared error for both the training and the testing set.

In [18]:
MSE_test = metrics.mean_squared_error(y_test, y_pred_test)

In [19]:
MSE_train = metrics.mean_squared_error(y_train, y_pred_train)

In [20]:
MSE_test

20.932156307308578

In [21]:
MSE_train

22.333894253502002

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [22]:
MAE_test = metrics.mean_absolute_error(y_test, y_pred_test)

In [24]:
MAE_train = metrics.mean_absolute_error(y_train, y_pred_train)

In [25]:
MAE_test

3.495331753938197

In [26]:
MAE_train

3.2902324746275404

## Classification Model Evaluation

In [27]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [62]:
data.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
56,6.3,3.3,4.7,1.6,1
100,6.3,3.3,6.0,2.5,2
49,5.0,3.3,1.4,0.2,0
144,6.7,3.3,5.7,2.5,2
134,6.1,2.6,5.6,1.4,2

In [64]:
data['class'].unique()

array([0, 1, 2])

In [34]:
X = data.drop('class', axis=1)

In [37]:
y = data["class"]

In [39]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [31]:
from sklearn.linear_model import LogisticRegression

In [40]:
log = LogisticRegression()

In [41]:
log.fit(X_train, y_train)

LogisticRegression()

In [42]:
y_pred_test = log.predict(X_test)

In [43]:
y_pred_train = log.predict(X_train)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [44]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score

In [45]:
accuracy_test = accuracy_score(y_true = y_test, y_pred=y_pred_test)

In [46]:
accuracy_train = accuracy_score(y_true = y_train, y_pred=y_pred_train)

In [48]:
accuracy_test.round(3)

0.967

In [49]:
accuracy_train.round(3)

0.983

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [50]:
from sklearn.metrics import balanced_accuracy_score

In [51]:
balanced_accuracy_test = balanced_accuracy_score(y_true = y_test, y_pred=y_pred_test)

In [52]:
balanced_accuracy_train = balanced_accuracy_score(y_true = y_train, y_pred=y_pred_train)

In [54]:
balanced_accuracy_test.round(3)

0.963

In [55]:
balanced_accuracy_train.round(3)

0.984

## 10. Calculate and print the precision score for both the training and the testing set.

In [70]:
precision_test = precision_score(y_true = y_test, y_pred=y_pred_test, average="macro")

In [71]:
precision_train = precision_score(y_true = y_train, y_pred=y_pred_train, average="macro")

In [72]:
precision_test.round(3)

0.944

In [73]:
precision_train.round(3)

0.986

## 11. Calculate and print the recall score for both the training and the testing set.

In [74]:
recall_test = recall_score(y_true = y_test, y_pred=y_pred_test, average="macro")

In [75]:
recall_train = recall_score(y_true = y_train, y_pred=y_pred_train, average="macro")

In [76]:
recall_test.round(3)

0.963

In [77]:
recall_train.round(3)

0.984

## 12. Calculate and print the F1 score for both the training and the testing set.

In [79]:
f1_score_test = f1_score(y_true=y_test, y_pred=y_pred_test, average="macro")

In [80]:
f1_score_train = f1_score(y_true=y_train, y_pred=y_pred_train, average="macro")

In [82]:
f1_score_test.round(3)

0.95

In [83]:
f1_score_train.round(3)

0.984

## 13. Generate confusion matrices for both the training and the testing set.

In [84]:
conf_test = pd.crosstab(y_test, y_pred_test)

In [85]:
conf_train = pd.crosstab(y_train, y_pred_train)

In [87]:
conf_test

col_0   0  1  2
class
0      16  0  0
1       0  8  1
2       0  0  5

In [88]:
conf_train

col_0   0   1   2
class
0      34   0   0
1       0  39   2
2       0   0  45

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.